.home {
  width: 100%;
  height: 80vh;
  position: relative;
  z-index: -1;
  .houseWrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    top: -100px;
    left: 500px;
    animation: animationHome  1s forwards  1s ease-in-out;
    .houseImg {
      display: block;
      width: 100%;
    }
  }
  .treeWrapper {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    top: 200px;
    left: -300px;
    animation: animationTree  1s forwards 2s ease-in-out;

    .treeImg {
      display: block;
      width: 100%;
    }
  }
  .carWrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    top: 240px;
    left: 1600px;
    animation: animationCar  1s forwards 3s ease-in-out;

    .carImg {
      display: block;
      width: 100%;
    }
  }
  .title {
    position: absolute;
    left: 300px;
    top: 210px;
    font-size: 5px;
    letter-spacing: .01em;
    font-weight: 600;
    color:#f1e7da;
    animation: animationTitle  .5s forwards  ease-in-out;

  }
  .btn {
    position: absolute;

  }

}

@keyframes animationHome {
  from {
    top: -100px;
  }
  80% {
    top: 220px;
  }
  to {
    top: 200px;
  }
}
@keyframes animationTree {
  from {
    left: -100px;
  }

  to {
    left: 200px;
  }
}
@keyframes animationCar {
  from {
    left: 1600px;
    top: -100px;

  }
  to {
    left: 700px;
    top: 210px;

  }

}
@keyframes animationTitle {
  from {
    left: 500px;
    top: 210px;
    font-size: 10px;
    letter-spacing: .01em;
  }
  70% {
    top: 460px;
    left: 220px;
    font-size: 50px;
  }
  to {
    top: 370px;
    left: 200px;
    font-size: 45px;
    letter-spacing: .07rem;
  }

}